* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#chicken { 
  text-align: center
  background: blue;
  border: 5px, black;
  width: 75px;
  opacity: .6;
}

#chicken-content {
  
