* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#T1 { 
  text-align: center
  background-color: blue
  width: 75px;
  }

#C1 C2 C3 {
  border: 1px solid black;
  margin-bottom: 15px;
}
