* {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#T1 { 
  color: white;
  text-align: center;
  background-color: blue;
  padding: 5px;
  border: 1px solid black;
  width: 75px;
  height: 10px;
  margin-top: 15px;
  overflow: auto;
  position: relative;
  top: 0px;
  right:0px;
  }

#T2 { 
  background-color: green;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 75px;
  height: 10px;
  margin-top: 15px;
  overflow: auto;
  }

#T3 { 
  background-color: red;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 75px;
  height: 10px;
  margin-top: 15px;
  overflow: auto;
  }

#C1 {
  color: black;
  background-color: gray;
  border: 1px solid black;
  margin-bottom: 15px;
  opacity: .6;
}

#C2 {
  color: black;
  background-color: gray;
  border: 1px solid black;
  margin-bottom: 15px;
  opacity: .6;
}

#C3 {
  color: black;
  background-color: gray;
  border: 1px solid black;
  margin-bottom: 15px;
  opacity: .6;
}
